@font-face {
  font-family: roboto-bold;
  src: url(Roboto-Bold.ttf);
}

* {
  font-family: roboto-bold;

  margin: 0;
  padding: 0;

  /* width: 100%;
  height: 100%; */
}

header {
  background-color: rgb(196, 196, 196);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px;
}

#new-book-btn {
  width: 120px;
  height: 45px;

  background-color: white;

  border-style: solid;
  border-color: black;
  border-radius: 30px;

  font-family: roboto-bold;
  font-size: 20px;
  color: black;

  cursor: pointer;
}

#new-book-btn:hover {
  background-color: black;

  color: white;
}

#new-book-btn:active {
  width: 120px;
  height: 45px;
}

#main-container {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */

}

#new-book-form {
  text-align: center;
}

#library {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 500px));
  grid-template-rows: auto;

  justify-content: center;

  box-sizing: border-box;

  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;;

  gap: 30px;
}

.book {
  display: flex;
  flex-direction: column;

  background-color: gray;
  color: white;

  border-radius: 10px;
  box-shadow: 4px 4px 10px #0000002b;
}

.card-header,
.card-body {
  text-align: center;
}